header
{
	text-align: center;
	background-color: #000;
}

body
{
	background-color: #000;
}

footer
{
	background-color: #000;
}

div
{
	border: 3px solid #F00;
	position: relative;
	padding: 5px;
	width: 50%;
	margin: auto;
	float: center;
}

p
{
	color: #0FF;
}

h1
{
	color: #0FF;
}

.box
{
	/*width: 45%;*/
}

#separator
{
	height: 10px;
	width: 100%;
}