header
{
	text-align: center;
	background-color: #000;
}

body
{
	background-color: #000;
}

footer
{
	background-color: #000;
}

div
{
	border: 3px solid #F00;
	position: relative;
	padding: 5px;
	width: 50%;
	min-width: 200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

p
{
	color: #0FF;
}

h1
{
	color: #F00;
}

h2
{
	color: #C000C0;
}

ul
{
	width: 45%;
}

li
{
	color: #0F0;
}

a
{
  color: #FF0;
}

a:visited
{
  color: #FFF;
}

img
{
	width: 45%;
}

.box
{
	width: 45%;
	display: inline-block;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: #FFF;
  float: right;
  margin-left: 5px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.active:after {
  content: "\2796";
}

.content {
  padding: 0 5px;
  background-color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 75%;
}

#separator
{
	width: 100%;
}